@font-face {
  font-family: tilt-neon;
  src: url("fonts/Tilt-Neon.ttf");
}
@font-face {
  font-family: tilt-prism;
  src: url("fonts/Tilt-Prism.ttf");
}
@font-face {
  font-family: tilt-warp;
  src: url("fonts/Tilt-Warp.ttf");
}
body {
  font-family: tilt-neon;
  margin:0;
}
.container {
  display: table;
  width: 100vw;
  height: 100vh;
}
.preview {
  position: absolute;
  left: 0;
  top:0;
}
.dot {
  position:absolute;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: red;
  border-radius: 10px;
}
.text {
  /* display: table-cell; */
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  width: 800px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -175px 0 0 -400px;
  background:#000;
  color: white;
  font-size: 256px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}