/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: tilt-neon;
  src: url("fonts/Tilt-Neon.woff2") format("woff2");
}
@font-face {
  font-family: tilt-prism;
  src: url("fonts/Tilt-Prism.woff2") format("woff2");
}
@font-face {
  font-family: tilt-warp;
  src: url("fonts/Tilt-Warp.woff2") format("woff2");
}
@keyframes hrot {
  0% {
    font-variation-settings: "HROT" 0;
  }
  25% {
    font-variation-settings: "HROT" 45;
  }
  75% {
    font-variation-settings: "HROT" -45;
  }
  100% {
    font-variation-settings: "HROT" 0;
  }
}
/* Variables ------------------------------------------- */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:root {
  --bg:white;
}

#facecam {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100%;
  --w:400px;
  --h:300px;
}
#facecam .svg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--w);
  height: var(--h);
  transform: translate(50vw, 50vh);
}
#facecam svg {
  top: 0;
  left: 0;
  height: 600px;
  width: 800px;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  transform: translate(-50%, -50%) scaleX(-1);
}
#facecam svg polyline {
  stroke: black;
  fill: none;
}
#facecam svg circle {
  stroke-width: 2px;
  stroke: black;
  fill: white;
}
#facecam video {
  opacity: 0;
}
#facecam canvas {
  width: 100%;
}
#facecam video, #facecam canvas {
  transform: translate(-50%, -60%) scaleX(-1);
  position: absolute;
  top: 50%;
  left: 50%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 48px;
}

/* Typographic defaults -------------------------------- */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  font-family: tilt-neon;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--bg);
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  border-bottom: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h2 {
  margin: 24px 0;
  text-transform: uppercase;
}

h1, h2:not(.big) {
  letter-spacing: 0.25em;
}

p {
  margin: 24px 0;
}

.neon {
  font-family: tilt-neon;
}

.prism {
  font-family: tilt-prism;
}

.warp {
  font-family: tilt-warp;
}

/* Layouts --------------------------------------------- */
.small-only {
  display: none;
}

@media (max-width: 599px) {
  .large-only {
    display: none;
  }
  .small-only {
    display: block;
  }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

nav, section.subnav {
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 48px;
  border-bottom: 1px solid;
  background: var(--bg);
  text-align: center;
  line-height: 48px;
}
nav h1 a, section.subnav h1 a {
  display: inline-block;
  width: 48px;
}
@media (max-width: 599px) {
  nav h1, section.subnav h1 {
    text-align: left;
    margin: 0 16px;
  }
}
nav a, section.subnav a {
  border: 0;
}
nav a:hover, section.subnav a:hover {
  animation: hrot 1.2s infinite;
}
nav ul, section.subnav ul {
  line-height: 48px;
}
nav ul li, section.subnav ul li {
  display: inline-block;
  margin: 0 8px;
}
@media (max-width: 599px) {
  nav ul li, section.subnav ul li {
    margin: 0 4px;
  }
}
nav ul li a, section.subnav ul li a {
  display: block;
  text-align: center;
  width: 48px;
}
nav .primary, section.subnav .primary {
  position: absolute;
  left: 16px;
  top: 0;
  text-align: left;
}
@media (max-width: 599px) {
  nav .primary, section.subnav .primary {
    left: auto;
    right: 44px;
  }
}
nav .secondary, section.subnav .secondary {
  position: absolute;
  right: 72px;
  top: 0;
  text-align: right;
}
nav .secondary .google-fonts, section.subnav .secondary .google-fonts {
  width: 112px;
}
nav .secondary .github, section.subnav .secondary .github {
  width: 56px;
}
nav .tertiary, section.subnav .tertiary {
  position: absolute;
  right: 16px;
  top: 0;
  text-align: right;
}
nav .tertiary .camera, section.subnav .tertiary .camera {
  width: 24px;
}
@media (max-width: 599px) {
  nav .tertiary, section.subnav .tertiary {
    right: 8px;
  }
}

.camera.on {
  background-color: red;
  border-radius: 50%;
  height: 24px;
  line-height: 0;
  color: white;
  animation: 1s flashing forwards infinite;
}

@keyframes flashing {
  0% {
    background-color: rgba(255, 0, 0, 0.2);
  }
  50% {
    background-color: rgb(255, 0, 0);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.2);
  }
}
section {
  border-bottom: 1px solid;
  background: var(--bg);
}

section.subnav {
  position: static;
  height: 96px;
}
section.subnav ul {
  width: 100vw;
  text-align: right;
  padding: 48px 16px;
}
section.subnav ul .google-fonts {
  width: 112px;
}
section.subnav ul .github {
  width: 52px;
}

section.hero {
  position: relative;
  padding-top: 48px;
  text-align: center;
  font-size: 45vw;
  line-height: 0.85em;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Opera and Firefox */
  word-break: keep-all;
}
@media (max-width: 599px) {
  section.hero {
    height: min(140vw, 600px);
    padding-top: calc(40px + 0.05em);
    font-size: min(74vw, 300px);
    line-height: 0.77em;
  }
  section.hero .chars {
    display: inline-block;
    letter-spacing: -0.03em;
  }
  section.hero .char-2 {
    display: block;
  }
  section.hero > svg {
    display: none;
  }
}
section.hero .char-0 {
  font-family: tilt-neon;
}
section.hero .char-1 {
  font-family: tilt-prism;
}
section.hero .char-2 {
  font-family: tilt-warp;
}
section.hero nav {
  height: 48px;
  border-bottom: 1px solid;
  font-size: 18px;
  line-height: 48px;
}
section.hero nav h1 {
  position: absolute;
  width: 400px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -200px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 48px;
}
section.hero nav ul {
  margin: 0;
  padding: 0;
}
section.hero nav ul.left {
  position: absolute;
  top: 0;
  left: 16px;
}
section.hero nav ul.right {
  position: absolute;
  top: 0;
  right: 16px;
}
section.hero nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 0.5em;
}
section.hero .hrot, section.hero .vrot {
  position: absolute;
  font-size: 13px;
  line-height: 32px;
  margin-top: -32px;
  left: 16px;
}
section.hero .vrot {
  left: 200px;
}
section.hero > svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}
section.hero svg line {
  stroke: black;
  stroke-width: 1;
}
section.hero svg circle {
  fill: #fff;
  stroke: black;
  stroke-width: 1;
}

.facecam #facecam svg {
  opacity: 1;
}

.facecam #needle {
  opacity: 0;
}

section.hero:hover svg {
  opacity: 1;
}

section.scroller {
  cursor: crosshair;
  --scroll:0;
  --vrot:0;
  font-size: 216px;
  line-height: 240px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 24px;
  font-variation-settings: "HROT" 0, "VROT" 0;
}
@media (max-width: 599px) {
  section.scroller {
    font-size: 120px;
    line-height: 128px;
  }
  section.scroller span {
    display: inline-block;
  }
  section.scroller span:last-of-type {
    display: inline-block;
  }
  section.scroller span:last-of-type::after {
    margin-left: 40px;
    width: 100px;
    display: inline-block;
  }
}

.hero-text {
  height: 100%;
  white-space: nowrap;
}

section.signs .anchor {
  position: absolute;
  margin-top: -47px;
}
section.signs div {
  float: left;
}
section.signs .sign {
  position: relative;
  overflow: hidden;
  cursor: crosshair;
}
section.signs .sign .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 3.33vw;
}
section.signs .sign .inner div {
  float: none;
  text-align: center;
}
section.signs .sign p {
  margin: 0;
  text-align: center;
  line-height: 105%;
}
section.signs .sign p.xxs {
  font-size: 2.5vw;
}
section.signs .sign p.xs {
  font-size: 3.33vw;
}
section.signs .sign p.s {
  font-size: 4.44vw;
}
section.signs .sign p.m {
  font-size: 5vw;
}
section.signs .sign p.l {
  font-size: 6.67vw;
}
section.signs .sign p.xl {
  font-size: 10vw;
}
section.signs .sign p.xxl {
  font-size: 11.11vw;
}
section.signs .sign p.xxxl {
  font-size: 13vw;
}
section.signs .col-half {
  width: 50vw;
}
section.signs .col-quarter {
  width: 25vw;
}
section.signs .nha-hang-tan-the-gioi {
  width: 50vw;
  height: 40vw;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
section.signs .nha-hang-tan-the-gioi .oval {
  margin: 0.7em 0 0.7em 0;
}
section.signs .nha-hang-tan-the-gioi .oval p {
  display: inline-block;
  border: 0.075em solid;
  border-radius: 100%;
  margin: 0 auto;
  padding: 0.1em 0.3em;
}
section.signs .nha-hang-tan-the-gioi p.xs {
  letter-spacing: 0.02em;
}
@media (max-width: 599px) {
  section.signs .nha-hang-tan-the-gioi {
    width: 100vw;
    height: 90vw;
    border-right: none;
  }
  section.signs .nha-hang-tan-the-gioi .inner {
    transform-origin: 0 0;
    transform: translate(-125%, -125%) scale(2.5);
  }
}
section.signs .new-york-boston {
  width: 25vw;
  height: 20vw;
  border-right: 1px solid;
}
section.signs .twenty-four-hrs {
  width: 25vw;
  height: 10vw;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
section.signs .twenty-four-hrs p {
  border: 0.075em solid;
  border-radius: 0.2em;
  padding: 0.1em 0.2em;
}
@media (max-width: 599px) {
  section.signs .twenty-four-hrs {
    width: 50vw;
    height: 45vw;
    border-right: none;
  }
  section.signs .twenty-four-hrs .inner {
    transform-origin: 0 0;
    transform: translate(-125%, -125%) scale(2.5);
  }
}
section.signs .back-rub {
  width: 25vw;
  height: 10vw;
  border-right: 1px solid;
}
section.signs .back-rub p {
  display: inline-block;
}
section.signs .back-rub p.heart {
  position: relative;
  top: -0.5em;
  padding: 0 0.125em;
}
@media (max-width: 599px) {
  section.signs .back-rub {
    width: 100vw;
    height: 40vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .back-rub .inner {
    height: 6.6666666667vw;
    transform-origin: 0 0;
    transform: translate(-200%, -200%) scale(4);
  }
}
section.signs .prosperity {
  position: absolute;
  width: 33.3333333333vw;
  height: 13.3333333333vw;
  border-right: 1px solid;
  border-bottom: 1px solid;
  background-color: var(--bg);
}
section.signs .prosperity .inner {
  width: 100%;
  height: 100%;
}
section.signs .prosperity .inner .xs {
  position: absolute;
  width: 100%;
  height: 100%;
}
section.signs .prosperity .inner .xs span {
  position: relative;
  display: inline-block;
  letter-spacing: 0.05em;
  transform-origin: 0% 0%;
}
section.signs .prosperity .inner .xs .path-1 {
  top: 21.515625%;
  transform: rotate(-15.75deg);
}
section.signs .prosperity .inner .xs .path-2 {
  top: 17.9270833333%;
  transform: rotate(-10.44deg);
}
section.signs .prosperity .inner .xs .path-3 {
  top: 14.9635416667%;
  transform: rotate(-5.9deg);
}
section.signs .prosperity .inner .xs .path-4 {
  top: 13.0989583333%;
  transform: rotate(-2.37deg);
}
section.signs .prosperity .inner .xs .path-5 {
  top: 12.5%;
  transform: rotate(0.56deg);
}
section.signs .prosperity .inner .xs .path-6 {
  top: 12.65625%;
  transform: rotate(3.43deg);
}
section.signs .prosperity .inner .xs .path-7 {
  top: 13.4947916667%;
  transform: rotate(6.73deg);
}
section.signs .prosperity .inner .xs .path-8 {
  top: 15.390625%;
  transform: rotate(9.59deg);
}
section.signs .prosperity .inner .xs .path-9 {
  top: 16.6041666667%;
  transform: rotate(12.7deg);
}
section.signs .prosperity .inner .xs .path-10 {
  top: 19.5625%;
  transform: rotate(18.56deg);
}
section.signs .prosperity .inner .xs .path-11 {
  top: 54.4166666667%;
  transform: rotate(14.79deg);
}
section.signs .prosperity .inner .xs .path-12 {
  top: 58.671875%;
  transform: rotate(8.77deg);
}
section.signs .prosperity .inner .xs .path-13 {
  top: 61.3541666667%;
  transform: rotate(3.93deg);
}
section.signs .prosperity .inner .xs .path-14 {
  top: 62.6666666667%;
  transform: rotate(-0.07deg);
}
section.signs .prosperity .inner .xs .path-15 {
  top: 62.625%;
  transform: rotate(-3.15deg);
}
section.signs .prosperity .inner .xs .path-16 {
  top: 61.75%;
  transform: rotate(-5.68deg);
}
section.signs .prosperity .inner .xs .path-17 {
  top: 61.2552083333%;
  transform: rotate(-9.1deg);
}
section.signs .prosperity .inner .xs .path-18 {
  top: 58.5677083333%;
  transform: rotate(-15.31deg);
}
section.signs .prosperity .inner .xs .symbols {
  top: 37.5%;
}
section.signs .prosperity .inner .xs .line {
  overflow-y: hidden;
  height: 0.1em;
  border-radius: 0.1em;
  top: 27.6041666667%;
  box-shadow: 0 0.1em 0 0 #000;
}
@media (max-width: 599px) {
  section.signs .prosperity {
    position: relative;
    width: 100vw;
    height: 50vw;
    border-right: none;
    border-right: none;
  }
  section.signs .prosperity .inner {
    transform-origin: 0 0;
  }
  section.signs .prosperity .inner .xs {
    font-size: 13vw;
  }
  section.signs .prosperity .inner .xs .symbols:not(.line) {
    display: none;
  }
}
section.signs .col-hopkee {
  width: 10.5vw;
  border-right: 1px solid;
  height: 60vw;
}
section.signs .hopkee {
  width: 10.5vw;
  height: 46.6666666667vw;
  margin-top: 13.3333333333vw;
}
section.signs .hopkee p.l {
  word-break: break-all;
  line-height: 95%;
}
section.signs .col-hok-shan {
  width: 39.5vw;
}
section.signs .col-hok-shan-top {
  width: 39.5vw;
  height: 30vw;
  border-bottom: 1px solid;
}
section.signs .col-key {
  width: 22.8333333333vw;
  height: 30vw;
}
section.signs .key {
  width: 22.8333333333vw;
  margin-top: 13.3333333333vw;
  height: 16.6666666667vw;
  border-right: 1px solid;
}
@media (max-width: 599px) {
  section.signs .key {
    margin-top: 0;
    width: 50vw;
    height: 45vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .key .inner {
    transform-origin: 0 0;
    transform: translate(-100%, -100%) scale(2);
  }
}
section.signs .four-choices {
  width: 16.6666666667vw;
  height: 30vw;
}
section.signs .four-choices p.dollar {
  margin: 0 0 0.125em 0;
}
@media (max-width: 599px) {
  section.signs .four-choices {
    width: 50vw;
    height: 90vw;
    border-right: 1px solid;
    border-bottom: 1px solid;
  }
  section.signs .four-choices .inner {
    transform-origin: 0 0;
    transform: translate(-150%, -150%) scale(3);
  }
}
section.signs .hok-shan-building {
  width: 39.5vw;
  height: 30vw;
}
section.signs .hok-shan-building .circle {
  margin: 0.3em 0;
}
section.signs .hok-shan-building .circle p {
  display: inline-block;
  border: 0.08em solid;
  border-radius: 100%;
  padding: 0 0.2em;
  line-height: 1.44em;
  margin: 0 0.125em;
}
section.signs .grand-central {
  width: 75vw;
  height: 18.3333333333vw;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
section.signs .grand-central p {
  letter-spacing: 0.15em;
}
@media (max-width: 599px) {
  section.signs .grand-central {
    width: 100vw;
    height: 60vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .grand-central p {
    line-height: 95%;
    letter-spacing: 0.05em;
  }
  section.signs .grand-central .inner {
    transform-origin: 0 0;
    transform: translate(-125%, -125%) scale(2.5);
  }
}
section.signs .thirty {
  width: 25vw;
  height: 18.3333333333vw;
  border-bottom: 1px solid;
}
section.signs .thirty p.track {
  letter-spacing: 0.05em;
}
section.signs .thirty p.num {
  line-height: 0.9em;
}
@media (max-width: 599px) {
  section.signs .thirty {
    width: 50vw;
    height: 50vw;
    border-right: 1px solid;
    border-bottom: 1px solid;
  }
  section.signs .thirty .inner {
    transform-origin: 0 0;
    transform: translate(-125%, -125%) scale(2.5);
  }
}
section.signs .pershing {
  width: 100vw;
  height: 8.3333333333vw;
  border-bottom: 1px solid;
}
section.signs .pershing p {
  letter-spacing: 0.2em;
}
@media (max-width: 599px) {
  section.signs .pershing {
    width: 100vw;
    height: 50vw;
    border-right: none;
    border-bottom: none;
  }
  section.signs .pershing .inner {
    transform-origin: 0 0;
    transform: translate(-125%, -125%) scale(2.5);
  }
  section.signs .pershing p {
    letter-spacing: 0.05em;
  }
}
section.signs .time {
  width: 25vw;
  height: 10vw;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
section.signs .time p {
  letter-spacing: 0.15em;
}
section.signs .trk {
  width: 25vw;
  height: 10vw;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
section.signs .trk p {
  letter-spacing: 0.15em;
}
section.signs .bowery-savings {
  width: 50vw;
  height: 33.3333333333vw;
  border-right: 1px solid;
}
section.signs .bowery-savings .inner {
  height: 100%;
}
section.signs .bowery-savings p.bowery {
  width: 200%;
  height: 100%;
  margin-left: -50%;
  text-align: center;
}
section.signs .bowery-savings p.bowery span {
  position: relative;
  display: inline-block;
  line-height: 100%;
}
section.signs .bowery-savings p.bowery .arc-1 {
  left: 7.7159722222%;
  top: 62%;
  transform: rotate(-86.24deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-1 {
    left: 18vw;
    top: 53vw;
    transform: rotate(-92.96deg);
  }
}
section.signs .bowery-savings p.bowery .arc-2 {
  left: 5.3041666667%;
  top: 53.46%;
  transform: rotate(-77.67deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-2 {
    left: 11vw;
    top: 45vw;
    transform: rotate(-81.29deg);
  }
}
section.signs .bowery-savings p.bowery .arc-3 {
  left: 3.3194444444%;
  top: 45.16%;
  transform: rotate(-69deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-3 {
    left: 6vw;
    top: 37vw;
    transform: rotate(-69.4deg);
  }
}
section.signs .bowery-savings p.bowery .arc-4 {
  left: 2.4354166667%;
  top: 35.06%;
  transform: rotate(-57.74deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-4 {
    left: 4vw;
    top: 28vw;
    transform: rotate(-54.01deg);
  }
}
section.signs .bowery-savings p.bowery .arc-5 {
  left: 1.2881944444%;
  top: 27.68%;
  transform: rotate(-49.16deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-5 {
    left: 2vw;
    top: 22vw;
    transform: rotate(-41.51deg);
  }
}
section.signs .bowery-savings p.bowery .arc-6 {
  left: 0.0743055556%;
  top: 20.54%;
  transform: rotate(-38.54deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-6 {
    left: 0;
    top: 17vw;
    transform: rotate(-25.89deg);
  }
}
section.signs .bowery-savings p.bowery .arc-7 {
  left: -0.5%;
  top: 15.12%;
  transform: rotate(-28.67deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-7 {
    left: -0.5vw;
    top: 14vw;
    transform: rotate(-12deg);
  }
}
section.signs .bowery-savings p.bowery .arc-8 {
  left: -0.6770833333%;
  top: 11.65%;
  transform: rotate(-20.78deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-8 {
    left: 0;
    top: 13vw;
    transform: rotate(-0.75deg);
  }
}
section.signs .bowery-savings p.bowery .arc-9 {
  left: -1.0479166667%;
  top: 9.44%;
  transform: rotate(-12.55deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-9 {
    left: 0;
    top: 13.8vw;
    transform: rotate(11.11deg);
  }
}
section.signs .bowery-savings p.bowery .arc-10 {
  left: 0.0652777778%;
  top: 8.06%;
  transform: rotate(-1.55deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-10 {
    left: 1.5vw;
    top: 17vw;
    transform: rotate(26.55deg);
  }
}
section.signs .bowery-savings p.bowery .arc-11 {
  left: 0.1215277778%;
  top: 8.43%;
  transform: rotate(6.18deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-11 {
    left: 1vw;
    top: 21.5vw;
    transform: rotate(38.07deg);
  }
}
section.signs .bowery-savings p.bowery .arc-12 {
  left: -0.2423611111%;
  top: 9.88%;
  transform: rotate(14.51deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-12 {
    left: -1vw;
    top: 27vw;
    transform: rotate(50.58deg);
  }
}
section.signs .bowery-savings p.bowery .arc-13 {
  left: -0.3055555556%;
  top: 11.93%;
  transform: rotate(21.21deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-13 {
    left: -3vw;
    top: 32vw;
    transform: rotate(59.85deg);
  }
}
section.signs .bowery-savings p.bowery .arc-14 {
  left: -0.4534722222%;
  top: 14.89%;
  transform: rotate(28.25deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-14 {
    left: -6vw;
    top: 39vw;
    transform: rotate(69.49deg);
  }
}
section.signs .bowery-savings p.bowery .arc-15 {
  left: -0.9055555556%;
  top: 19.93%;
  transform: rotate(37.71deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-15 {
    left: -11.8vw;
    top: 47vw;
    transform: rotate(82.62deg);
  }
}
section.signs .bowery-savings p.bowery .arc-16 {
  left: -1.4715277778%;
  top: 25.66%;
  transform: rotate(46.04deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-16 {
    left: -18.5vw;
    top: 55vw;
    transform: rotate(94.11deg);
  }
}
section.signs .bowery-savings p.bowery .arc-17 {
  left: -1.6763888889%;
  top: 34.44%;
  transform: rotate(57.11deg);
}
section.signs .bowery-savings p.bowery .arc-18 {
  left: -3.0875%;
  top: 42.16%;
  transform: rotate(66deg);
}
section.signs .bowery-savings p.bowery .arc-19 {
  left: -5.0736111111%;
  top: 51.29%;
  transform: rotate(75.49deg);
}
section.signs .bowery-savings p.bowery .arc-20 {
  left: -7.5618055556%;
  top: 60.41%;
  transform: rotate(84.7deg);
}
@media (max-width: 599px) {
  section.signs .bowery-savings p.bowery .arc-17, section.signs .bowery-savings p.bowery .arc-18, section.signs .bowery-savings p.bowery .arc-19, section.signs .bowery-savings p.bowery .arc-20 {
    display: none;
  }
}
section.signs .bowery-savings .inner p.save {
  line-height: 0.9em;
  margin-top: 2.2em;
}
@media (max-width: 599px) {
  section.signs .bowery-savings {
    width: 100vw;
    height: 83.3333333333vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .bowery-savings .break-mobile {
    display: block;
  }
  section.signs .bowery-savings br.remove-mobile {
    display: none;
  }
  section.signs .bowery-savings p.s, section.signs .bowery-savings p.m {
    font-size: 12vw;
  }
  section.signs .bowery-savings .inner {
    transform-origin: 0 0;
  }
  section.signs .bowery-savings .inner p.save {
    margin-top: 2.5em;
  }
}
section.signs .nypl {
  width: 50vw;
  height: 20vw;
  border-bottom: 1px solid;
}
section.signs .nypl p.text {
  line-height: 0.95em;
}
section.signs .restroom {
  width: 50vw;
  height: 10vw;
  border-bottom: 1px solid;
}
@media (max-width: 599px) {
  section.signs .restroom {
    width: 100vw;
    height: 25vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .restroom .inner {
    transform-origin: 0 0;
    transform: translate(-137.5%, -137.5%) scale(2.75);
  }
}
section.signs .fourty-second {
  width: 25vw;
  height: 13.3333333333vw;
  border-right: 1px solid;
}
@media (max-width: 599px) {
  section.signs .fourty-second {
    width: 50vw;
    height: 25vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .fourty-second .inner {
    transform-origin: 0 0;
    transform: translate(-125%, -125%) scale(2.5);
  }
}
section.signs .east {
  width: 25vw;
  height: 13.3333333333vw;
}
@media (max-width: 599px) {
  section.signs .east {
    width: 50vw;
    height: 25vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .east .inner {
    transform-origin: 0 0;
    transform: translate(-125%, -125%) scale(2.5);
  }
}
section.signs .dont-block {
  width: 50vw;
  height: 40vw;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
section.signs .dont-block .inner p {
  line-height: 1em;
}
section.signs .dont-block .inner svg {
  display: block;
  width: 33vw;
  height: 15vw;
  margin: 0.5em auto;
}
section.signs .dont-block .inner svg rect {
  fill: transparent;
  stroke-width: 0.4em;
  stroke: #000;
}
section.signs .dont-block .inner svg line {
  stroke: #000;
  stroke-width: 0.2em;
}
@media (max-width: 599px) {
  section.signs .dont-block {
    width: 100vw;
    height: 116.6666666667vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .dont-block .inner {
    transform-origin: 0 0;
    transform: translate(-150%, -150%) scale(3);
  }
  section.signs .dont-block .inner svg {
    height: 12.5vw;
  }
}
section.signs .holland-tunnel {
  width: 50vw;
  height: 18.3333333333vw;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
section.signs .holland-tunnel .inner p {
  line-height: 1em;
  letter-spacing: 0.2em;
}
@media (max-width: 599px) {
  section.signs .holland-tunnel {
    width: 100vw;
    height: 40vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .holland-tunnel .inner {
    transform-origin: 0 0;
    transform: translate(-125%, -125%) scale(2.5);
  }
  section.signs .holland-tunnel .inner p {
    letter-spacing: 0.05em;
  }
}
section.signs .parking-tax {
  width: 28.8333333333vw;
  height: 15vw;
  border-right: 1px solid;
}
section.signs .parking-tax .inner p {
  line-height: 1em;
}
section.signs .metered-parking {
  width: 21.1666666667vw;
  height: 15vw;
  border-right: 1px solid;
}
section.signs .metered-parking p {
  display: inline-block;
}
section.signs .metered-parking p.text {
  text-align: left;
  line-height: 0.95em;
  position: relative;
  top: -0.2em;
}
section.signs .col-max-veh {
  width: 16.6666666667vw;
}
section.signs .bus {
  width: 16.6666666667vw;
  height: 10vw;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
@media (max-width: 599px) {
  section.signs .bus {
    width: 50vw;
    height: 25vw;
    border-right: 1px solid;
    border-bottom: 1px solid;
  }
  section.signs .bus .inner {
    transform-origin: 0 0;
    transform: translate(-150%, -150%) scale(3);
  }
}
section.signs .fraction {
  width: 16.6666666667vw;
  height: 16.1666666667vw;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
section.signs .max-veh {
  width: 16.6666666667vw;
  height: 27.1666666667vw;
  border-right: 1px solid;
}
section.signs .max-veh p.max {
  line-height: 0.9em;
  margin-bottom: 0.2em;
}
section.signs .max-veh .size {
  border: 0.1em solid;
  border-radius: 0.2em;
}
section.signs .max-veh .size p {
  padding: 0.1em 0.2em;
}
@media (max-width: 599px) {
  section.signs .max-veh {
    width: 50vw;
    height: 25vw;
    border-right: none;
    border-bottom: 1px solid;
  }
  section.signs .max-veh .inner {
    transform-origin: 0 0;
    transform: translate(-150%, -150%) scale(3);
  }
}
section.signs .col-early-bird {
  width: 33.3333333333vw;
}
section.signs .thru-traffic {
  width: 33.3333333333vw;
  height: 25vw;
  border-bottom: 1px solid;
}
section.signs .thru-traffic .inner p {
  line-height: 1em;
}
section.signs .thru-traffic .only {
  margin: 0.3em;
}
section.signs .thru-traffic .only p {
  display: inline-block;
  background: #000;
  color: var(--bg);
  padding: 0.1em 0.3em;
  border-radius: 0.05em;
  letter-spacing: 0.01em;
}
@media (max-width: 599px) {
  section.signs .thru-traffic {
    width: 100vw;
    height: 100vw;
    border-right: none;
    border-bottom: none;
  }
  section.signs .thru-traffic .inner {
    transform-origin: 0 0;
    transform: translate(-125%, -125%) scale(2.5);
  }
}
section.signs .early-bird {
  width: 33.3333333333vw;
  height: 48.3333333333vw;
}
section.signs .early-bird .inner p {
  line-height: 1em;
}

section.information {
  background: linear-gradient(180deg, transparent calc(0% - 0.5px), #000 calc(0% + 0.5px), transparent calc(0% + 1.5px));
  background-position: 0 33.3333333333vw;
}
section.information .description {
  float: left;
  width: 66.6666666667vw;
  min-height: 33.3333333333vw;
  border-right: 1px solid;
  padding: 8px 16.6666666667vw 8px 32px;
  background: var(--bg);
}
section.information .description h2, section.information .description p {
  max-width: 1024px;
}
@media (max-width: 599px) {
  section.information .description {
    width: 100vw;
    border-right: none;
    border-bottom: 1px solid;
    padding: 0 24px;
  }
}
section.information .highlight {
  cursor: crosshair;
  float: left;
  width: 33.3333333333vw;
  height: 33.3333333333vw;
  background: var(--bg);
}
@media (max-width: 599px) {
  section.information .highlight {
    width: 100vw;
    height: 100vw;
  }
}
section.information .highlight .hline {
  position: absolute;
  width: 25vw;
  height: 1px;
  margin: 16.6666666667vw 4.1666666667vw;
  background-image: linear-gradient(90deg, #000, #000 25%, transparent 25%, transparent 100%);
  background-size: 4px 1px;
}
@media (max-width: 599px) {
  section.information .highlight .hline {
    width: 75vw;
    margin: 50vw 12.5vw;
  }
}
section.information .highlight > * {
  pointer-events: none;
}
section.information .highlight .vline {
  position: absolute;
  width: 1px;
  height: 25vw;
  margin: 4.1666666667vw 16.6666666667vw;
  background-image: linear-gradient(0deg, #000, #000 25%, transparent 25%, transparent 100%);
  background-size: 1px 4px;
}
@media (max-width: 599px) {
  section.information .highlight .vline {
    height: 75vw;
    margin: 12.5vw 50vw;
  }
}
section.information .highlight .legend {
  position: absolute;
  width: 48px;
  height: 24px;
}
section.information .highlight .legend.hrot {
  left: 83.3333333333vw;
  margin: 8px 0 0 -24px;
}
@media (max-width: 599px) {
  section.information .highlight .legend.hrot {
    left: 50vw;
  }
}
section.information .highlight .legend.hmin {
  left: 66.6666666667vw;
  margin: 8px 0 0 8px;
}
@media (max-width: 599px) {
  section.information .highlight .legend.hmin {
    left: 8px;
  }
}
section.information .highlight .legend.hmax {
  left: 100vw;
  margin: 8px 0 0 -56px;
  text-align: right;
}
section.information .highlight .legend.vmax {
  left: 66.6666666667vw;
  margin: calc(33.33vw - 32px) 0 0 8px;
}
@media (max-width: 599px) {
  section.information .highlight .legend.vmax {
    left: 8px;
    margin-top: calc(100vw - 32px);
  }
}
section.information .highlight .legend.vrot {
  left: 66.6666666667vw;
  margin: calc(16.67vw + 24px) 0 0 8px;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
}
@media (max-width: 599px) {
  section.information .highlight .legend.vrot {
    left: 8px;
    margin-top: calc(50vw + 24px);
  }
}
section.information .highlight .glyph {
  text-align: center;
  font-size: 33.3333333333vw;
  line-height: 33.3333333333vw;
}
@media (max-width: 599px) {
  section.information .highlight .glyph {
    font-size: 100vw;
    line-height: 100vw;
  }
}

.open-glyphs-table {
  cursor: pointer;
}

section.glyphs-table {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  font-size: 0;
  border-bottom: none;
}
section.glyphs-table ul:nth-of-type(even) li:last-of-type {
  border-right: 0;
}
@media (max-width: 599px) {
  section.glyphs-table ul:nth-of-type(odd) li:last-of-type {
    border-right: 0;
  }
}
section.glyphs-table ul li {
  list-style-type: none;
  float: left;
  border-right: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  width: 6.25vw;
  height: 6.25vw;
  font-size: 0.8928571429vw;
  line-height: 0.8928571429vw;
}
section.glyphs-table ul li p {
  margin: 0.5208333333vw 0;
}
section.glyphs-table ul li .glyph {
  font-size: 3.125vw;
  line-height: 3.125vw;
  margin: 1.0416666667vw 0 0.78125vw 0;
}
section.glyphs-table ul li.download {
  overflow: hidden;
  width: 12.5vw;
}
section.glyphs-table ul li.download a {
  border: 0;
}
section.glyphs-table ul li.download a p {
  margin: 0;
  font-size: 1.25vw;
  line-height: 1.5625vw;
  height: 6.25vw;
  padding: 1.25vw 0;
}
section.glyphs-table ul li.download a:hover p {
  background-color: #000;
  color: var(--bg);
}
@media (max-width: 599px) {
  section.glyphs-table ul li {
    width: 12.5vw;
    height: 12.5vw;
    font-size: 1.7857142857vw;
    line-height: 1.7857142857vw;
  }
  section.glyphs-table ul li p {
    margin: 1.0416666667vw 0;
  }
  section.glyphs-table ul li .glyph {
    font-size: 6.25vw;
    line-height: 6.25vw;
    margin: 2.0833333333vw 0 1.5625vw 0;
  }
  section.glyphs-table ul li.download {
    width: 25vw;
  }
  section.glyphs-table ul li.download a p {
    font-size: 2.5vw;
    line-height: 3.125vw;
    height: 12.5vw;
    padding: 2.5vw 0;
  }
}

section.glyphs-table.open {
  height: 37.5vw;
}
@media (max-width: 599px) {
  section.glyphs-table.open {
    height: 150vw;
  }
}

section.tester {
  --h-rot:0;
  --v-rot:0;
}
section.tester input[type=text] {
  background-color: transparent;
  cursor: default;
}
section.tester .ibeam {
  position: relative;
  float: left;
  width: 120px;
  border-right: 1px solid;
  height: 240px;
  text-align: center;
  padding-top: 32px;
}
@media (max-width: 599px) {
  section.tester .ibeam {
    display: none;
  }
}
section.tester .ibeam img {
  pointer-events: none;
  position: absolute;
  top: 119px;
  left: 60px;
  width: 50px;
  transform: translate(-50%, -50%);
}
section.tester .ibeam .static {
  opacity: 0.2;
}
section.tester .text {
  float: left;
}
section.tester .text .slider-wrapper {
  position: absolute;
}
section.tester .text .slider-wrapper span {
  font-size: 14px;
  margin-right: 8px;
}
section.tester .text .slider-wrapper.hrot {
  margin: 8px 0 0 16px;
}
section.tester .text .slider-wrapper.hrot .slider {
  width: 160px;
}
section.tester .text .slider-wrapper.vrot {
  margin: 224px 0 0 8px;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
}
section.tester .text .slider-wrapper.vrot .slider {
  width: 136px;
}
section.tester .text .slider-wrapper .slider {
  position: absolute;
  height: 16px;
  margin: 4px 0;
  background: transparent;
  -webkit-appearance: none;
}
section.tester .text .slider-wrapper .slider:focus {
  outline: none;
}
section.tester .text .slider-wrapper .slider::-webkit-slider-runnable-track, section.tester .text .slider-wrapper .slider::-webkit-slider-runnable-track {
  background: #000;
  height: 1px;
}
section.tester .text .slider-wrapper .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: var(--bg);
  margin-top: -7px;
  border: 1px solid;
  border-radius: 50%;
}
section.tester .text .slider-wrapper .slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: var(--bg);
  margin-top: -9px;
  border: 1px solid;
  border-radius: 50%;
}
section.tester .text .string {
  font-variation-settings: "HROT" var(--h-rot), "VROT" var(--v-rot);
  border: 0;
  overflow: scroll hidden;
  width: calc(100vw - 120px);
  height: 240px;
  font-size: 216px;
  white-space: nowrap;
  padding: 0 0 0 40px;
}
section.tester .text .string:focus {
  outline: none;
}
@media (max-width: 599px) {
  section.tester .text .string {
    width: 100vw;
  }
}

section.tester.exact-track input[type=text], section.tester.exact-track .ibeam {
  cursor: none;
}
@media (max-width: 599px) {
  section.tester.exact-track input[type=text], section.tester.exact-track .ibeam {
    cursor: text;
  }
}

#tilt-control-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1000;
  pointer-events: none;
}
@media (hover: none) {
  #tilt-control-wrapper {
    display: block;
  }
}

#control-svg-wrapper {
  display: none;
  mix-blend-mode: multiply;
  z-index: 1000;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
@media (hover: none) {
  #control-svg-wrapper {
    display: block;
  }
}
#control-svg-wrapper svg line {
  stroke-linecap: round;
  stroke: black;
  stroke-width: 1px;
}
#control-svg-wrapper svg circle {
  display: none;
  fill: white;
  stroke: black;
  stroke: 1px;
}

.no-pointer {
  pointer-events: none;
}

@media (hover: none) {
  section.hero svg:not(#facecam svg) {
    display: none;
  }
}
#tilt-control {
  touch-action: none;
  pointer-events: all;
  position: absolute;
  --pupilx:50%;
  --pupily:50%;
  top: 120%;
  left: 120%;
  transform: translate(-50%, -50%);
  height: 48px;
  width: 98px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-flow: row nowrap;
  --lid:24px;
}
#tilt-control .eye {
  position: relative;
  border: 2px solid black;
  background-color: white;
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2px;
  box-sizing: border-box;
  z-index: 10;
}
#tilt-control .eye .pupil {
  position: absolute;
  top: 50%;
  left: var(--pupilx);
  top: var(--pupily);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#tilt-control .eye .eyelid {
  background-color: white;
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  z-index: 2;
}
#tilt-control .eye .eyelid.top {
  top: 0;
  border-bottom: 2px solid black;
  transform: translateY(-24px);
}
#tilt-control .eye .eyelid.bottom {
  top: 20px;
  transform: translateY(24px);
  height: 26px;
  border-top: 2px solid black;
}

#tilt-control.blink .eyelid.top {
  animation: 0.5s forwards blinkdown ease;
}
#tilt-control.blink .eyelid.bottom {
  animation: 0.5s forwards blinkup ease;
}

@keyframes blinkdown {
  0% {
    transform: translateY(-24px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-24px);
  }
}
@keyframes blinkup {
  0% {
    transform: translateY(24px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(24px);
  }
}
#tilt-control.visible {
  opacity: 1;
}

.facecam #tilt-control.visible {
  opacity: 0;
}

h2.big {
  font-size: 36px;
  line-height: 42px;
  text-transform: none;
  margin: 42px 0;
}
@media (max-width: 599px) {
  h2.big {
    margin: 24px 0;
  }
}

section.footer .text {
  float: left;
  width: 50vw;
  padding: 0 0 24px 32px;
}
@media (max-width: 599px) {
  section.footer .text {
    width: 100vw;
    padding: 0 24px;
  }
}
section.footer .credit {
  float: right;
  width: 33.3333333333vw;
  position: sticky;
  top: 20px;
}
@media (max-width: 599px) {
  section.footer .credit {
    float: left;
    width: 100vw;
    border-top: 1px solid;
    position: relative;
  }
}
section.footer .credit .google {
  float: left;
  width: 16.6666666667vw;
  padding: 56px 0;
}
@media (max-width: 599px) {
  section.footer .credit .google {
    width: 50vw;
    padding: 24px 0 0 24px;
  }
}
section.footer .credit .detail {
  float: left;
  width: 16.6666666667vw;
}
section.footer .credit .detail ul {
  padding: 48px 0;
}
section.footer .credit .detail ul li {
  margin: 6px 0;
}
@media (max-width: 599px) {
  section.footer .credit .detail {
    width: 50vw;
    padding: 0;
  }
  section.footer .credit .detail ul {
    padding: 16px;
  }
}
section.footer .credit .people {
  margin-top: 0;
}
@media (max-width: 599px) {
  section.footer .credit .people {
    font-size: 14px;
    line-height: 18px;
    padding-left: 24px;
  }
}
section.footer .credit .fineprint {
  font-size: 12px;
  line-height: 14px;
  float: left;
  width: 33.3333333333vw;
  padding: 48px 32px 32px 0;
}
section.footer .credit .fineprint p {
  margin: 0 0 14px 0;
}
@media (max-width: 599px) {
  section.footer .credit .fineprint {
    width: 100vw;
    padding: 5vw 24px 0;
    padding-bottom: 40px;
  }
}

div.separator {
  height: 96px;
  border-bottom: 1px solid;
  background-image: radial-gradient(#000 12.5%, transparent 12.5%), radial-gradient(#000 12.5%, transparent 12.5%);
  background-position: 2px 2px, 8px 8px;
  background-size: 12px 12px;
}

@media (max-width: 599px) {
  div.separator.remove-mobile {
    display: none;
  }
}

div.separator.half {
  height: 48px;
}

/*# sourceMappingURL=style.css.map */
