@font-face {
  font-family: tilt-neon;
  src: url("fonts/Tilt-Neon.ttf");
}
@font-face {
  font-family: tilt-prism;
  src: url("fonts/Tilt-Prism.ttf");
}
@font-face {
  font-family: tilt-warp;
  src: url("fonts/Tilt-Warp.ttf");
}
body {
  font-family: tilt-neon;
  margin:0;
  color: #fff;
  background-color: #FF3C3C;
}
.text {
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  font-size: 45vw;
  line-height: 0.8em;
  padding: 0 0 0.1em 0;
  margin:0;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
  border-bottom: 1px solid;
}
.char-0 {
  font-family: tilt-neon;
}
.char-1 {
  font-family: tilt-prism;
}
.char-2 {
  font-family: tilt-warp;
}

nav {
  height: 48px;
  border-bottom: 1px solid;
  font-size: 18px;
  line-height: 48px;
}
nav h1 {
  position: absolute;
  width: 400px;
  top:0;
  left: 50%;
  margin: 0 0 0 -200px;
  font-size: 18px;
  font-weight: normal;
  text-align:center;
  letter-spacing: 0.1em;
  line-height: 48px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul.left {
  position: absolute;
  top:0;
  left:16px;
}
nav ul.right {
  position: absolute;
  top:0;
  right:16px;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  margin: 0 0.5em;
}

.hrot, .vrot{
  position: absolute;
  font-size: 13px;
  line-height: 32px;
  margin-top: -32px;
  left: 16px;
}

.vrot {
  left: 200px;
}

svg {
  position:absolute;
  top:0;
  left:0;
  pointer-events:none;
}
svg line {
  stroke:#fff;
  stroke-width:1;
}
svg circle {
  fill: #fff;
}
/* @media screen and (min-width: 1600px) {
  .text {
     font-size: 800px;
  }
} */